<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ネタリスト
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @netas.each do |neta| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to neta_path(neta) do %>
                  <%= attachment_image_tag neta, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag neta.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="has-text-black"><%=link_to neta.user.username, user_path(neta.user) %></div>
                  <div class="title is-4"><%= link_to neta.title, neta_path(neta) %></div>  
                </div>
              </div>

              <div class="card-footer">
                <div class="content">
                  <table><tr>
                  <th>
                    <time><%= neta.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
                  </th>
                  <th>   
                    <% if user_signed_in? %>
                      <% if current_user.already_favorited?(neta) %>
                        <%= link_to neta_favorites_path(neta), method: :delete do %>
                          <i class="fa fa-heart"></i>
                        <% end %>
                        <%= neta.favorites.count %>
                      <% else %>
                        <%= link_to neta_favorites_path(neta), method: :post do %>
                          <i class="fa fa-heart-o"></i>
                        <% end %>
                        <%= neta.favorites.count %>
                      <% end %>
                    <% end %>
                  </th>
                  </tr></table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>